<div class="flex items-center py-4 justify-between">
  <!-- LOGO -->
   <span class="font-bold text-3xl">Superb.</span>

  <!-- NAVLINKS -->
  <div class="font-medium sm:flex hidden gap-5">
    <a href="/home">Home</a>
    <a href="/home">About</a>
    <a href="/home">Contact</a>
    <div class="relative w-fit h-fit cursor-pointer">
      <!-- Cart Icon -->
      <mat-icon class="text-3xl"> shopping_cart </mat-icon>

      <!-- Badge -->
      <span
        class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full h-5 w-5 flex items-center justify-center text-xs"
      >
        5
      </span>
    </div>
  </div>

  <!-- HAMBURGER -->
  <div class="h-fit w-fit flex sm:hidden">
    <mat-icon class="material-symbols-outlined"> menu </mat-icon>
  </div>
</div>
