<div class="bg-black text-white mt-20 pt-16">
  <div
    class="max-w-7xl px-5 gap-20 lg:gap-3 sm:px-10 mx-auto grid md:grid-cols-2 lg:grid-cols-3"
  >
    <div>
      <h4 class="font-medium text-2xl">About Us</h4>
      <div class="w-20 h-1 my-2 rounded-full bg-gray-600"></div>
      <p class="text-xs">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, fugiat
        perferendis. Officiis iusto eligendi dolores, sint libero nesciunt porro
        assumenda.
      </p>
      <br />
      <p class="text-xs">
        Obcaecati consectetur dolor atque molestiae molestias voluptas quos
        minima sapiente!
      </p>
      <div></div>
    </div>
    <div>
      <h4 class="font-medium text-2xl">Latest News</h4>
      <div class="w-20 h-1 my-2 rounded-full bg-gray-600"></div>
      <div class="space-y-3">
        <div class="flex items-center gap-3">
          <img
            src="https://plus.unsplash.com/premium_photo-1664392193006-217f3ce4e2ae?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="w-12 h-12"
          />
          <div class="flex flex-col">
            <span class="cursor-pointer hover:underline"
              >How I Started My ecommerce Shop</span
            >
            <span class="text-xs text-slate-400">August 4, 2024</span>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="https://plus.unsplash.com/premium_photo-1723780817363-883f1ab09625?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="w-12 h-12"
          />
          <div class="flex flex-col">
            <span class="hover:underline cursor-pointer"
              >Quitting my corporate job for startup</span
            >
            <span class="text-xs text-slate-400">August 4, 2024</span>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="https://plus.unsplash.com/premium_photo-1683134637850-85d547c8018c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="w-12 h-12"
          />
          <div class="flex flex-col">
            <span class="hover:underline cursor-pointer"
              >The most important skills in my life</span
            >
            <span class="text-xs text-slate-400">August 4, 2024</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="font-medium text-2xl">Join Our Newsletter</h4>
      <div class="w-20 h-1 my-2 rounded-full bg-gray-600"></div>
      <div class="grid sm:flex gap-2 my-8">
        <input
          class="text-black px-2 rounded w-fit"
          type="text"
          placeholder="E.g. john@doe.com"
        />
        <button
          class="w-fit px-5 py-2 rounded hover:bg-gray-400 active:bg-gray-200 bg-gray-200 text-black"
        >
          Subscribe
        </button>
      </div>
      <p class="text-sm">
        We only send newsletters out a few times a year, we won't ever spam you.
      </p>
    </div>
  </div>
  <div class="w-full h-[1px] mt-20 rounded-full bg-gray-600"></div>
  <div>
    <p class="text-center text-gray-400 py-5">&copy;2024 Dean Zaballero.</p>
  </div>
</div>
